{% import "import/thumbnail.html" as thumb %}
{% for archive in archives if archive.root_name == "post" and archive.is_root -%}
  {%- for page in archive.singles_all[:10] -%}
    {%- if loop.first %}
<div class="widget">
  <div class="widget-title">Recent Posts</div>
  <div class="widget-body">
    <ul>
    {%- endif %}
      <a href="{{ page.url }}">
        <li class="page-list">
          <div class="page-image">
            {{ thumb.get_thumb(page) }}
          </div>
          <div class="page-item-body">
            {{ page.title }}
          </div>
        </li>
      </a>
    {%- if loop.last %}
    </ul>
  </div>
</div>
    {%- endif %}
  {%- endfor -%}
{%- endfor %}