{% extends "main.html" %}


{% block head_start_tag -%}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
{%- endblock %}


{% block content %}
{%- if paginator.paged == 1 and mypage.archive_type == "date" and mypage.is_root -%}
<h1>Post List</h1>
{%- elif mypage.archive_type == "date" and mypage.is_root -%}
<h1>Post List: {{ paginator.paged }} Page</h1>
{%- elif paginator.paged == 1 -%}
<h1>"{{ mypage.title }}" List</h1>
{%- else -%}
<h1>"{{ mypage.title }}" List: {{ paginator.paged }} page</h1>
{%- endif %}

  {% include "partials/entry/page-list.html" %}
  {% include "partials/entry/pagination.html" %}
{% endblock %}
