{% extends "main.html" %}


{% block head_start_tag -%}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
{%- endblock %}


{% block content %}

  {% include "partials/entry/breadcrumb.html" %}


<div class="entry">
  {% include "partials/entry/title.html" %}

  {% if mypage.meta and mypage.meta.image and mypage.meta.image.src -%}
  <p><img class="aligncenter" src="{{ mypage.meta.image.src }}"></p>
  {%- endif %}
  {% if mypage.content -%}
  {{ mypage.content }}
  {%- endif %}
</div>

{% if mypage.children %}
  {%- for child in mypage.children if child.singles_all | length > 0 %}
    {%- if loop.first  %}
<div class="subsection-list">
  <h2>Sub section</h2>
  <ul>
    {%- endif %}
    <li><a href="{{ child.abs_url }}">{{ child.title }}</a></li>
    {%- if loop.last  %}
  </ul>
</div>
    {%- endif %}
  {%- endfor %}
{%- endif %}

  {% include "partials/entry/page-list.html" %}
  {% include "partials/entry/pagination.html" %}
{% endblock %}
