{% extends "main.html" %}


{% block entry %}
  {% include "partials/entry__breadcrumb.html" %}

  {% include "partials/entry__title.html" %}
  {% include "partials/entry__thumbnail.html" %}
  {% include "partials/entry__content.html" %}


{% if mypage.single %}
  {% include "partials/entry__backlink.html" %}
  {% include "partials/entry__taxonomy-list.html" %}
  {% include "partials/entry__next-prev.html" %}
  {% include "partials/entry__display-path.html" %}
{%endif%}

  {% include "partials/entry__subsection-list.html" %}
  {% include "partials/entry__page-list.html" %}
  {% include "partials/entry__pagination.html" %}

{% endblock %}
