{% extends "main.html" %}


{% block head_start_tag -%}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
{%- endblock %}


{% block content %}

  {% include "partials/entry/breadcrumb.html" %}


<div class="entry">
  <h1>{{ mypage.title }}</h1>

  {% if mypage.meta and mypage.meta.image and mypage.meta.image.src -%}
  <p><img class="aligncenter" src="{{ mypage.meta.image.src }}"></p>
  {%- endif %}
  {% if mypage.content -%}
  {{ mypage.content }}
  {%- endif %}
</div>

{% if mypage.children %}
  {%- for child in mypage.children if child.singles_all | length > 0 %}
    {%- if loop.first  %}
<div class="subsection-list">
  <h2>Sub section</h2>
  <ul>
    {%- endif %}
    <li><a href="{{ child.abs_url }}">{{ child.title }}</a></li>
    {%- if loop.last  %}
  </ul>
</div>
    {%- endif %}
  {%- endfor %}
{%- endif %}


{% import "import/thumbnail.html" as thumb %}
{%- for page in pages if page.url != mypage.url %}
{%- if loop.first %}
<h2>Page list</h2>
<div class="page-list item-count-{{ pages | length }}">
{%- endif %}
  <div class="page-item">

    <a href="{{ page.url }}">
      <div class="page-image">
        {{ thumb.get_thumb(page) }}
      </div>
    </a>
  
    <div class="page-item-body">
      <div class="page-item-info">
        <small>{{ page.date.strftime('%Y/%m/%d') }}</small>
      </div>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </div>
  </div>
{%- if loop.last %}
</div>
{%- endif %}
{%- endfor %}


{% if paginator and paginator.pages and paginator.pages | count > 1 -%}
<div>
  <div class="pagination">
{%- for page in paginator.pages %}
  {% if page.page_number == paginator.paged -%}
    <span aria-current="page" class="page-numbers current">{{ page.page_number }}</span>
  {%- else -%}
    <a class="page-numbers" href="{{ page.url }}">{{ page.page_number }}</a>
  {%- endif %}
{%- endfor %}
  </div>
</div>
{%- endif %}
{% endblock %}
