{%- import "import/short-code.html" as sc -%}<!DOCTYPE html>
<html lang="{{ config.site.language }}">
{% block head_tag -%}
  {% block head_start_tag -%}
  <head>
  {%- endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title_tag %}<title>{{ sc.title_tag(mypage) }}</title>{% endblock %}
    {% include "partials/head/description.html" %}
    {% include "partials/head/ogp.html" %}
    {% include "partials/head/twitter-card.html" %}
    {% include "partials/head/google-analytics.html" %}
    {% include "partials/head/google-adsense.html" %}
    {% include "partials/head/library.html" %}
    {% include "partials/head/stylesheet.html" %}
    {% include "partials/head/favicon.html" %}
    {% include "partials/head/extra-header.html" %}
  </head>
{%- endblock %}
  <body class="{% if mypage %}{{ mypage.post_type_slug }} {{ mypage.page_type }}{% endif %}">
    <div id="container">
      <header>
        <div id="inner-header">
          <a href="{{ config.site.site_url or '/' }}" class="blog-title">{{ config.site.site_name }}</a>
          {% if config.site.site_desc %}<div class="blog-description">{{ config.site.site_desc }}</div>{% endif %}
        </div>
      </header>
    
      <main>
        <div id="inner-main">
          <article>
            {% block content -%}
            {%- endblock %}
          </article>

          <aside>
          {% block sidebar %}
            {% include "partials/sidebar/about.html" %}
            {% include "partials/sidebar/recent-posts.html" %}
            {% include "partials/sidebar/date-archive.html" %}
            {% include "partials/sidebar/category-list.html" %}
            {% include "partials/sidebar/tag-cloud.html" %}
            {% include "partials/sidebar/page-list.html" %}
            {% include "partials/sidebar/section-list.html" %}
          {% endblock %}
          </aside>
        </div>
      </main>

      <footer>
        <div id="inner-footer">
          <a href="{{ config.site.site_url or '/' }}" class="blog-title">{{ config.site.site_name }}</a>
        </div>
      </footer>
    </div>
    <script>twemoji.parse(document.body);</script>
  </body>
</html>