{%- import "import/short-code.html" as sc -%}<!DOCTYPE html>
<html lang="{{ config.site.language }}">
{% block head_tag -%}
  {% block head_start_tag -%}
  <head>
  {%- endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title_tag %}<title>{{ sc.title_tag(mypage) }}</title>{% endblock %}
    {% include "partials/head/description.html" %}
    {% include "partials/head/ogp.html" %}
    {% include "partials/head/twitter-card.html" %}
    {% include "partials/head/google-analytics.html" %}
    {% include "partials/head/google-adsense.html" %}
    {% include "partials/head/library.html" %}
    {% include "partials/head/stylesheet.html" %}
    {% include "partials/head/favicon.html" %}
    {% include "partials/head/extra-header.html" %}
  </head>
{%- endblock %}
  <body{% if mypage %} class="{{ mypage.post_type_slug }} {{ mypage.page_type }}"{% endif %}>
    <div id="container">
      {%- block header %}
      <header>
        <div id="inner-header">
          <a href="{{ config.site.site_url or '/' }}" class="blog-title">{{ config.site.site_name }}</a>
          {% if config.site.site_desc %}<div class="blog-description">{{ config.site.site_desc }}</div>{% endif %}
        </div>
      </header>
      {%- endblock %}

      {% block header_nav %}{% endblock %}

      {%- block main %}
      <main>
        <div id="inner-main">
          <article>
            {% block content -%}
            {%- endblock %}
          </article>

          <aside>
          {% block sidebar %}
            {% if config.sidebar %}
              {{ config.sidebar }}
            {% else %}
              {% include "partials/sidebar/sidebar.html" %}
            {% endif %}
          {% endblock %}
          </aside>
        </div>
      </main>
      {%- endblock %}

      {%- block footer %}
      <footer>
        <div id="inner-footer">
          <a href="{{ config.site.site_url or '/' }}" class="blog-title">{{ config.site.site_name }}</a>
        </div>
      </footer>
      {%- endblock %}
    </div>
    <script>twemoji.parse(document.body);</script>
  </body>
</html>