{%- import "import/sc.html" as sc with context -%}
<!DOCTYPE html>
<html lang="{{ config.site.language }}">
<head prefix="og: https://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title_tag -%}
  <title>{{ sc.title_tag() }}</title>
  {%- endblock %}
  {% include "partials/head.html" %}
</head>
<body class="{{ sc.body_class() }}">
  {% include "partials/global-header.html" %}
  {% include "partials/global-nav.html" %}
  <main class="global-main">
    <article class="entry">
      {% block entry %}{% endblock %}
    </article>
    {% include "partials/global-sidebar.html" %}
  </main>
  {% include "partials/global-footer.html" %}
</body>
</html>