{% extends "main.html" %}


{% block head_start_tag -%}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{%- endblock %}



{% block content %}

  {% include "partials/entry/breadcrumb.html" %}
  {% include "partials/entry/date.html" %}

<div class="entry">
  {% include "partials/entry/title.html" %}
  
  {% if mypage.meta and mypage.meta.image and mypage.meta.image.src -%}
  <p><img class="aligncenter" src="{{mypage.meta.image.src}}" alt=""></p>
  {% elif mypage.meta and mypage.meta.emoji -%}
  <p class="thumbnail-emoji">{{ mypage.meta.emoji }}</p>
  {% elif theme.emoji -%}
  {% set total_emoji = theme.emoji|length -%}
  {% set index = (mypage.date.strftime('%Y%m%d%H%M%S') | int) % total_emoji %}
  <p class="thumbnail-emoji">{{ theme.emoji[index] }}</p>
  {%- endif %}

  {% if mypage.content -%}
  {{ mypage.content }}
  {%- else -%}
  <p>(no content)</p>
  {%- endif %}
</div>

  {% include "partials/entry/taxonomy-list.html" %}
  {% include "partials/entry/next-prev.html" %}
{% endblock %}
