{% extends "main.html" %}


{% block head_start_tag -%}
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{%- endblock %}



{% block content %}

  {% include "partials/entry/breadcrumb.html" %}
  {% include "partials/entry/date.html" %}

<div class="entry">
  {% include "partials/entry/title.html" %}

  <p class="top-thumbnail">{{ sc.get_thumb(mypage) }}</p>

  {% if mypage.content -%}
  {{ mypage.content }}
  {%- else -%}
  <p>(no content)</p>
  {%- endif %}
</div>

  {% include "partials/entry/backlink.html" %}
  {% include "partials/entry/taxonomy-list.html" %}
  {% include "partials/entry/next-prev.html" %}
  {% include "partials/entry/display-path.html" %}
{% endblock %}
