{% extends "main.html" %}


{% block title_tag -%}
<title>Sitemap | {{ config.site.site_name }}</title>
{%- endblock %}


{% block entry %}
<h1>Sitemap</h1>

<div class="sitemap">
{% for page in singles -%}
  {%- if loop.first or page.post_type != page.prev_page.post_type -%}
  <h2>{{ page.post_type }}</h2>
  {%- endif -%}

  {%- if page.archive_type == "date" -%}
    {%- if loop.first or page.post_type != page.prev_page.post_type -%}
    <h3>Year: {{ page.date.strftime('%Y') }}</h3>
    {%- elif page.date.strftime('%Y') != page.prev_page.date.strftime('%Y') -%}
    <h3>Year: {{ page.date.strftime('%Y') }}</h3>
    {%- endif -%}
  {%- endif -%}

  {%- if page.archive_type == "section" -%}
    {%- if loop.first or page.archive_list[0].name != page.prev_page.archive_list[0].name -%}
    <h3>{{ page.archive_list[0].name }}</h3>
    {%- endif -%}
  {%- endif -%}

  {%- if page.title -%}
  <div>{{ page.date.strftime('%Y/%m/%d %H:%M') }}: <a href="{{ page.url }}">{{ page.title }}</a></div>
  {%- else -%}
  <div><a href="{{ page.url }}">{{ page.date.strftime('%Y/%m/%d %H:%M') }}</a></div>
  {%- endif -%}
{%- endfor -%}

</div>

{% endblock %}

