@charset "UTF-8";
:root {
  --text-color: #424242;
  --main-bg-color: #fffde7;
  --widget-bg-color: #e3f2fd;
  --widget-border-color: #bbdefb;
  --link-color: #2196f3;
  --link-hover-color: #1976d2;
  --link-visited-color: #673ab7;

  --small-font-size: 0.90rem;
}


/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* base */
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  line-height: 1.8;
  word-break: break-all;
  overflow-wrap: break-word;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}
a:visited {
  color: var(--link-visited-color);
}


/* layout */
.global > * {
  max-width: 1080px;
  margin: 0 auto;
}

.global-main > * {
  margin: 10px;
}

@media (min-width: 769px) {
  .global-main {
    display: grid;
    grid-template: auto/auto 340px;
  }
  .global-main > * {
    margin: 20px;
  }
}


/* header */
.global-header {
  padding: 2rem 0 1rem;
  text-align: center;
}
.site-name {
  color: var(--text-color);
  font-size: 2rem;
}
.site-name:hover {
  color: var(--link-color);
  transition: color 0.7s;
}
.global-header__description {
  font-size: var(--small-font-size);
}


/* header-nav */
.global-nav {
  text-align: center;
}
.global-nav__list {
  padding: 0;
  margin: 0;
  overflow-x: auto;
  white-space: nowrap;
}
.global-nav__item {
  margin: 0 10px;
  display: inline-block;
}
.global-nav__link {
  color: var(--text-color);
  padding: 10px 15px;
  display: block;
}


/* entry */
.entry > * {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.entry__breadcrumb {
  font-size: var(--small-font-size);
}
.entry__date {
  font-size: var(--small-font-size);
}
.entry__title {
  font-size: 2rem;
}

.thumbnail {
  background-color: var(--widget-bg-color);
  display: grid;
  place-items: center;
}
.entry__thumbnail .thumbnail {
  min-height: 200px;
}
.entry__thumbnail .thumbnail-emoji {
  font-size: 60px;
}


/* content */
.entry__content > * {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.entry__content a {
  text-decoration: underline;
}

.entry__content img.aligncenter {
  margin: 0 auto;
}
.entry__content img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5rem;
}
.entry__content img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5rem;
}

.entry__content table {
  width: 100%;
  border: 2px solid var(--widget-border-color);
  border-collapse: collapse;
  border-spacing: 0;
}
.entry__content table tr {
  border-bottom: 1px solid var(--widget-border-color);
}
.entry__content table th {
  padding: 5px;
  background-color: var(--widget-bg-color);
  border-right: 1px solid var(--widget-border-color);
}
.entry__content table td {
  padding: 5px;
  border-right: 1px solid var(--widget-border-color);
}

.entry__content blockquote {
  padding: 1rem;
  background-color: var(--widget-bg-color);
  border-left: 5px solid var(--widget-border-color);
}
.entry__content blockquote > * {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.entry__content blockquote > :last-child {
  margin-bottom: 0;
}

.entry__content pre {
  white-space: pre-wrap;
  padding: 1rem;
  line-height: 1.5;
  background-color: var(--widget-bg-color);
  border-radius: 0.5rem;
  overflow: auto;
}
.entry__content code {
  font-size: var(--small-font-size);
  font-family: SFMono-Regular, Consolas, monospace;
  padding: 0.2rem 0.4rem;
  background-color: var(--widget-bg-color);
  border-radius: 0.25rem;
}
.entry__content pre code {
  padding: 0;
}

.entry__content dt {
  font-weight: bold;
}
.entry__content dd {
  margin: 0 1rem 1.5rem;
}

.entry__taxonomy-list {
  font-size: var(--small-font-size);
  margin-bottom: 1.0rem;
}
.entry__taxonomy-list a {
  margin: 0 0.2rem;
}


/* archive */
.page-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 15px;
  row-gap: 30px;
}
.page-list.item-count-1, .page-list.item-count-2 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}


/* card */
.large-card .card__body {
  display: grid;
  grid-template: auto/120px auto;
}
.widget .card__body {
  display: grid;
  grid-template: auto/120px auto;
}
@media (min-width: 769px) {
  .large-card .card__body {
    grid-template: auto/180px auto;
  }
}

.page-list .thumbnail {
  min-height: 120px;
}
.page-list .thumbnail-emoji {
  font-size: 30px;
}
.large-card .thumbnail {
  min-height: 80px;
}
.large-card .thumbnail-emoji {
  font-size: 24px;
}
.widget .thumbnail {
  min-height: 80px;
}
.widget .thumbnail-emoji {
  font-size: 24px;
}

.widget .card__title {
  padding-left: 10px;
}
.large-card .card__title {
  padding: 10px;
}

.large-card {
  border: 2px solid var(--widget-border-color);
}
.large-card a {
  text-decoration: none;
  font-weight: bold;
}
.page-list .card__date {
  font-size: var(--small-font-size);
}


/* sidebar */
.global-sidebar > * {
  margin-bottom: 1.5rem;
}
.global-sidebar > :last-child {
  margin-bottom: 0;
}

.widget__title {
  font-weight: bold;
  padding: 5px 10px;
}
.widget__body {
  font-size: var(--small-font-size);
  padding: 5px 10px;
}

.widget__body ul {
  margin: 0;
  padding: 0;
}
.widget__body ul > * {
  margin-bottom: 10px;
}
.widget__body li {
  list-style: none;
}
.widget__body li a {
  color: var(--text-color);
}

.widget__body summary {
  background-color: var(--widget-bg-color);
  margin: 4px;
  padding: 0 4px;
}
.widget__body summary a {
  color: var(--text-color);
}
.widget__body details {
  border-left: 1px solid var(--text-color);
}
.widget__body details details {
  margin-left: 10px;
}
.widget__body details li {
  margin: 4px 8px;
}
.widget__body .current {
  font-weight: bold;
}


/* footer */
.global-footer {
  margin: 2rem auto 6rem;
  text-align: center;
}

.sticky-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
@media (min-width: 769px) {
  .sticky-nav {
    display: none;
  }
}

.sticky-nav__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sticky-nav__item {
  flex: 1;
  text-align: center;
}
.sticky-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
}


/* pagination */
.pagination {
  text-align: center;
}
.pagination__number {
  display: inline-block;
  margin: 0.25rem 0.5rem;
  padding: 0 1.25rem;
  color: var(--text-color);
  font-weight: bold;
}
.pagination .current, .pagination a:hover {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 5px solid var(--widget-border-color);
}
