{% macro breadcrumb(archive_list) -%}
  {% for archive in archive_list if archive.archive_type == 'section' -%}
    {% if archive.parents -%}
<div class="breadcrumb">
      {% for parent in archive.parents %}
        {%- if parent.rel_url == "/" %}
  <a href="{{ parent.url }}">{{ parent.name }}</a>
        {%- elif loop.first %}
  <a href="{{ config.site.site_url }}">Home</a>
  / <a href="{{ parent.url }}">{{ parent.name }}</a>
        {%- else %}
  / <a href="{{ parent.url }}">{{ parent.name }}</a>
        {%- endif %}
      {%- endfor %}
      {% if archive.url != mypage.url %}
  / <a href="{{ archive.url }}">{{ archive.name }}</a>
      {%- endif %}
  / {{ mypage.title }}
</div>
    {%- endif %}
  {%- endfor %}
{%- endmacro %}

{%- if mypage.archive_list -%}
{{ breadcrumb(mypage.archive_list) }}{# for single #}
{%- else -%}
{{ breadcrumb([mypage]) }}{# for section archive #}
{%- endif %}