{% set page_items = pages | rejectattr('url', 'eq', mypage.url) | list %}
{% if page_items %}
<h2>Page list</h2>
<div class="page-list item-count-{{ page_items | length }}">
  {% for page in page_items %}
  <div class="card">
    <a href="{{ page.url }}">
      <div class="card__image">
        {{ sc.get_thumb(page) }}
      </div>
    </a>
    <div class="card__body">
      <div class="card__date">
        {{ page.date.strftime('%Y/%m/%d') }}
      </div>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
