{% set section_roots = archives
    | selectattr('archive_type', 'eq', 'section')
    | selectattr('is_root')
    | selectattr('singles_all_count', 'gt', 0)
    | list %}
{% if section_roots %}
<div class="widget">
  <div class="widget__title">Section List</div>
  <div class="widget__body">
    {% for item in section_roots recursive %}
      {% if loop.depth == 1 or (mypage and item.has_page(mypage)) %}
      <details open>
      {% else %}
      <details>
      {% endif %}
        <summary>
          <a href="{{ item.url }}"{% if mypage and mypage.url == item.url %} class="current"{% endif %}>
            {{ item.title }}
          </a>
        </summary>
        {% set children = item.children.values() | selectattr('singles_all_count', 'gt', 0) | list %}
        {% if children %}{{ loop(children) }}{% endif %}
        {% if item.singles %}
        <ul>
          {% for page in item.singles if page.url != item.url %}
          <li>
            <a href="{{ page.url }}"{% if mypage and mypage.url == page.url %} class="current"{% endif %}>
              {{ page.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </details>
    {% endfor %}
  </div>
</div>
{% endif %}
