{% set root = archives.get_root_archive('date', 'post') %}
{% if root and root.singles_all %}
<div class="widget">
  <div class="widget__title">Recent Posts</div>
  <div class="widget__body">
    <ul>
    {% for page in root.singles_all[:10] %}
      <li class="card">
        <a href="{{ page.url }}" class="card__link">
          <div class="card__body">
            <div class="card__image">
              {{ sc.get_thumb(page) }}
            </div>
            <div class="card__title">
              {{ page.title }}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
