{% set cat_items = archives
    | selectattr('root_name', 'eq', 'category')
    | rejectattr('is_root')
    | selectattr('singles_all_count', 'gt', 0)
    | sort(attribute='singles_all_count', reverse=True)
    | list %}
{% if cat_items %}
<div class="widget">
  <div class="widget__title">Category List</div>
  <div class="widget__body">
    <ul>
      {% for archive in cat_items %}
      <li>
        <a href="{{ archive.url }}">{{ archive.name }}</a> ({{ archive.singles_all_count }})
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
