<nav class="global-footer__nav sticky-nav">
  <ul class="sticky-nav__list">
    <li class="sticky-nav__item">
      <a href="{{config.site.site_url}}" class="sticky-nav__link">
        🏠
      </a>
    </li>
    <li class="sticky-nav__item">
      <a href="#header" class="sticky-nav__link">
        🔼
      </a>
    </li>
    <li class="sticky-nav__item">
      <a href="#sidebar" class="sticky-nav__link">
        ✅
      </a>
    </li>
    <li class="sticky-nav__item">
      <a href="#footer" class="sticky-nav__link">
        🔽
      </a>
    </li>
  </ul>
</nav>
