{% include "partials/head__description.html" %}
{% include "partials/head__ogp.html" %}
{% include "partials/head__twitter-card.html" %}
{% include "partials/head__google-analytics.html" %}
{% include "partials/head__google-adsense.html" %}
{% include "partials/head__library.html" %}
{% include "partials/head__stylesheet.html" %}
{% include "partials/head__script.html" %}
{% include "partials/head__favicon.html" %}
{% include "partials/head__sitemap.html" %}
{% include "partials/head__extra-header.html" %}
